* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    font-weight: 500;
    box-sizing: border-box;
    font-family: 'Play', sans-serif;
}
@font-face {
    font-family: "logo";
    src: url('../fonts/10568.ttf')
}
@font-face {
    font-family: "roboto";
    src: url('../fonts/RobotoCondensed-Light.ttf')
}
body {
    background: #33393e;
    overflow-x: hidden;
    margin-top: 172px;
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
header {
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;
}
.small_header {
    width: 100%;
    height: 42px;
    background-color: #242c31;
    overflow: hidden;
}
.main_header {
    width: 100%;
    height: 130px;
    background-color: #33393e;
    overflow: hidden;
    display: flex;
}
.mob_menu {
    display: none;
    position: fixed;
    z-index: 9999999;
    top: 0;
    left: 0;
    width: 36px;
    height: 36px;
}
.mob_menu_ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #33393e;
}
.mob_menu_li {
    width: 100%;
    padding: 2px;
}
.mob_menu_a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}
a {
    text-decoration: none;
    color: #858b92;
}
.works_a{
    color: #fe634a;
    font-family: 'Play', sans-serif;
}
.a_active, .menu_a_main {
    color: #fe634a;
    font-family: logo;
    font-size: 3em;
    text-align: center;
}
.menu_a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu, .mob_menu_ul, .res_ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.skills_container {
    flex-direction: column;
}
.skill_container {
    width: 50%;
}
.skills_ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}
li {
    list-style-type: none;
}
.menu {
    width: 100%;
    height: 100%;
}
.type {
    margin-top: 30px;
}
.work_img {
    max-width: 80%;
    cursor: zoom-in;
}
.orange {
    color: #fe634a;
}
.skill_li {
    color: #fff;
    margin-left: 50px;
    margin-top: 30px;
}
.works_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    overflow: hidden;
}
.works {
    width: 100%;
}
.work {
    width: calc((100% - 120px) / 2);
    height: 430px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
    min-width: 375px;
    color: #fff;
    /* overflow: hidden; */
}
.work_h {
    margin: 10px;
}
.menu_li {
    width: calc(100% / 6);
    height: 100%;
    cursor: pointer;
}
.menu_li_main {
    cursor: pointer;
    width: calc(100% / 6 * 2);
    height: 100%;
}
.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url('../img/bg.jpg') center;
    height: calc(100vh - 172px);
    width: 100%;
}
.lineend {
    background: #fe634a;
    width: 100%;
    height: 95px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main_h {
    height: 45px;
}
h1, h2, h3 {
    color: #fe634a;
}
hr {
    width: 150px;
    height: 2px;
    background-color: #4c4e53;
    border: 0;
    margin: 20px;
}
.circle {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    display: flex;
    margin: 0 10px 0 10px;
    justify-content: center;
    align-items: center;
    border: 2px solid #4c4e53;
    overflow: hidden;
    cursor: pointer;
}
.res_img {
    width: 100px;
    height: 100px;
}
#modal_img {
    display: none;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: auto;
    height: auto;
    max-width: 99%;
    max-height: 99%;
    margin: auto;
    cursor: zoom-out;
    box-shadow: 0 0 20px #000, 0 0 0 1000px rgba(210,210,210,.4);
}
@media(max-width: 545px) {
    .menu_li {
        display: none;
    }
    .mob_menu {
        display: inline-block;
    }
    .menu_li_main{
        display: inline-block;
        width: 80%;
    }
    .circle {
        width: 100px;
        height: 100px;
    }
    .res_img {
        width: 90px;
        height: 90px;
    }
}
@media(max-width: 900px) {
    .menu_a_main {
        font-size: 1.9em;
    }
    h1 {
        font-size: 1.5em;
    }
    .work_img {
        max-width: 91%
    }
}
#price_modal{
    visibility: hidden;
    position: fixed;
    width: 350px;
    height: 150px;
    top: calc(100vh / 2 - 75px);
    left: calc(100vw / 2 - 150px);
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 0 0 1000px rgba(210,210,210,.4);
}
#price_close {
    margin-left: calc(100% - 10px);
    cursor: pointer;
}